@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

.html {
  background-color: #f8f5f1;
  font-family: "Lato", Helvetica, sans-serif;
}

.cardBody {
  display: flex;
  padding: 0rem 0.5rem 0rem 0.3rem;

}

.image {
  display: flex;
  align-content: center;
  margin: 2rem 2rem 2rem 0rem;
  padding: .5em 1em 0 0;
  flex-grow: 1;
  border-radius: 0.02rem;
  border: 1rem;
  border-color: #FF8811;
}

.blurbBody {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding-bottom: 2rem;
  flex-grow: 2;
}

.name {
  margin: 2rem 0 0 0rem;
  padding: .5em 0 .5em 0;
  color: #000000;
  font-style: normal;
  font-weight: 900;
  text-align: left;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.description {
  color: #000000;
  margin: 0;
  padding-bottom: 1em;
  white-space: wrap;
  letter-spacing: 0.0625em;
  text-justify: inter-word;
  justify-content: left;
  text-align: justify;
  font-size: 1.3rem;
  line-height: 2rem;
 
}

.price {
  margin: 0;
  padding-right: 2rem;
  color: #000000;
  font-style: normal;
  font-weight: 900;
  display: flex;
  justify-content: flex-end;
  
}

.button__wrapper {
  margin-left: rem;
  display: flex;
  justify-content: flex-end;
}



.image:hover {
    opacity: 0.3;
  }

@media (max-width: 850px) {
  .cardBody {
    flex-direction: column;
  }
  .image{
    margin: 0 auto;
    text-align: center;
    width: 45%;
  }
  
  .name, .price {
    margin: 0 auto;
    padding: 1em .5em;
    text-align: center;
  }
  
  .description {
    margin: 0 auto;
    padding: 2rem 0;
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

}

/* 
@media (max-width: 450px) {


  .cardBody {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

  }

   .image {
    margin: 0 auto;
    text-align: center;
    width: 80%;
   }

   .name {
    margin: 0 auto;
    padding: 1em .5em;
    text-align: center;
  }

  .description {
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 1.8rem;
  }


}  */
