@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

.html {
  background-color: #f8f5f1;
  font-family: "Lato", Helvetica, sans-serif;
}

.products__wrapper { 
  margin: auto 0;
  /* padding: 0 3rem 0 3rem; */
}

.wrapper {  
  display: flex;
  flex-wrap: wrap;
    
    
  }
 