@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

      .header__wrapper {
        /* height: 20%; */
        display:flex;
      }
  
      .header {
        height: 8rem;        
        background-color: #20063B;
        margin: auto 0;
        padding: 0;
        font-family: "Lato", Helvetica, sans-serif;
                
      }
       
      .image {
        width: 12%; 
        margin: auto 0; 
        padding: 1rem;        
        
      }

          
        
     
    
     
    